ros_ws/build/
ros_ws/install/
ros_ws/log/

frontend/node_modules/
frontend/dist/

**/__pycache__/
*.py[cod]
.venv/

docker-compose.yml
docker-compose.override.yml
**/Dockerfile
**/.dockerignore

.env
*.env
